/* Personalizações de CSS para complementar o Tailwind */
body {
  font-family: 'Inter', sans-serif;
}

input:focus {
  box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.3); /* Ajustado para azul escuro */
}

button {
  transition: all 0.3s ease;
}

#mensagem.success {
  background-color: #e6fffa;
  color: #065f46; /* Verde escuro para harmonizar */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #6ee7b7;
}

#mensagem.error {
  background-color: #fff5f5;
  color: #991b1b;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #feb2b2;
}

footer {
  color: #fff;
}

footer a {
  color: #e0f2fe;
}

footer a:hover {
  color: #bfdbfe;
}
